@import "./../../assets//scss/variables";

.slide {
  position: relative;
  height: 100%;
  transition: all 0.2s ease-out;
  cursor: pointer;

  & > img {
    width: 100%;
    height: 45rem;
    &:hover {
      filter: brightness(50%);
      transform: scale(1);
    }
  }

  &:hover &__overlay {
    opacity: 1;
  }

  &__overlay {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background-color: black;
    color: white;
    margin: 0 auto;
    white-space: pre-wrap;
    position: absolute;
    width: 100%;
    height: 10rem;
    bottom: 0;

    &__title {
      font-size: 2rem;
      text-align: center;
      margin: 3vh;
    }

    &__text {
      font-size: 1.8rem;
      white-space: pre-line;
      text-align: center;
      line-height: 1.3rem;
      margin: 2rem;
    }
  }
  // & > img {
  //   height: 100%;
  //   transform: scale(1);

  //   &:hover {
  //     filter: brightness(50%);
  //     transform: scale(1);
  //   }
  // }

  // &:hover &__overlay {
  //   opacity: 1;
  // }

  // &__overlay {
  //   opacity: 0;
  //   transition: all 0.3s ease-in-out;
  //   background-color: black;
  //   color: white;
  //   margin: 0 auto;
  //   white-space: pre-wrap;
  //   position: absolute;
  //   width: 100%;
  //   height: 18rem;
  //   bottom: 0;

  //   &__title {
  //     font-size: 2rem;
  //     text-align: center;
  //     margin: 3vh;
  //   }

  //   &__text {
  //     font-size: 1.8rem;
  //     white-space: pre-line;
  //     text-align: center;
  //     line-height: 1.3rem;
  //     margin: 2rem;
  //   }
  // }
}

//   &:hover &__overlay {
//     opacity: 1;
//   }

//   &:hover > img {
//     filter: brightness(50%);
//     transform: scale(1);
//   }

//   &__overlay {
//     opacity: 0;
//     transition: all 0.7s;
//     background-color: $color-primary-dark-4;
//     line-height: normal;
//     color: white;
//     margin: 0 auto;
//     white-space: pre-wrap;
//     position: absolute;
//     width: 100%;
//     height: 18rem;
//     bottom: 0;

//     &__title {
//       font-size: 2rem;
//       text-align: center;
//       margin: 3vh;
//     }

//     &__text {
//       font-size: 1.8rem;
//       white-space: pre-line;
//       text-align: center;
//       line-height: 1.9rem;
//       margin: 2rem;
//     }
//   }
// }
