@import './../../assets/scss/variables';

.formGroup {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
      box-shadow: 0 0 0 30px white inset !important;
    }
  
    &__input {
      display: block;
      width: 100%;
      padding: 10px;
      border: 1px solid #aaa;
      border-radius: 5px;
      font-size: 15px;
    }
  
    &__errors {
      margin-top: 5rem;
      color: $color-danger;
      font-size: 1.2rem;
      font-weight: 400;
      margin-left: 0.5rem;
      width: 85%;
    }
  }
  