.home {
    display: grid;
    grid-template-rows: auto repeat(4, min-content);
    //grid-template-rows: 95vh repeat(4, min-content);
    grid-template-columns:
      [full-start] minmax(6rem, 1fr) [center-start] repeat(
        8,
        [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(6rem, 1fr) [full-end];

      .cards {
        @media screen and (max-width: 768px) {
            display: none;
          }
          grid-column: 1/-1;
          background-color: #eee;
          display: flex;
          white-space: nowrap;
          overflow-y: hidden;
          &::-webkit-scrollbar {
            display: none;
          }
      }
      .features {
          margin: 5rem 0;
          grid-column: center-start/center-end;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
          grid-gap: 2rem;
      }
      .crew {
          display: grid;
          grid-column: full-start/full-end;
          grid-gap: 2rem;
          //margin: 5vh 2vw;
          margin: 0 2vw;
          grid-template-columns: repeat(auto-fit,minmax(20rem,auto));
          grid-gap: 3rem;
      }
      .articles {
          grid-column: full-start/full-end;
          //background-color: azure;
          display: grid;
          //grid-gap: 2rem;
          grid-column-gap: 1.5vw;
          grid-row-gap: 2rem;
          margin: 5vh 5vw;
          grid-template-columns: repeat(auto-fit,minmax(20rem,auto));
      }
      .footer-section{
          background-color: black;
          grid-column: 1/-1;
          
      }
}