$breakpoints: (
  "tab-port": (
    max-width: 56.25em
  ),
  "tab-land": (
    max-width: 75em
  ),
  "big-desktop": (
    min-width: 112.5em
  )
) !default;

//COLOR
$color-primary: #76787a;

//BTN
$color-btn-hover: #c2c2c2;
