.cms {
  width: 100%;
  height: 100vh;
  background-color: #c7c6c6;

  &__content {
    width: 95%;
    height: 95%;
    background-color: white;
    @include absCenter;

    &__title,
    &__description {
      box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.05);
      border-radius: 10px;
    }

    &__title {
      display: flex;
      justify-content: center;
      padding: 2rem;

      &__input {
        border: 1px solid black;
      }
    }

    &__description {
      display: flex;
      justify-content: center;
      padding: 2rem;
    }
  }
}
