.details-event {

    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100vh;
    overflow: hidden;
    // height: 100%;
    // overflow: hidden;

    &__navbar {
        grid-column: 1 / -1;
        height: 3%;
    }

    &__content {
        grid-column: 1 / 2;
        img {
            height: 100vh;
            width: 100%;
            object-fit: cover;
        }
    }

    &__layout {
        grid-column: 2 / 2;
        background-color: rgba($color: black, $alpha: .8);
        color: white;
        height: 100%;
        width: auto;
        overflow: scroll;
   

        &::-webkit-scrollbar {
            display: none;
        }

        &__title {
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            font-size: 2.5rem;
            padding-top: 10rem;
        }

        &__content {
            font-size: 2rem;
            font-style: italic;
            padding: 5rem;
            width: 95%;
            line-height: 1.8;
        }
    }
    // &__content {

    //     &__img {
    //        height: 100vh;
    //        width: 100%;
    //        object-fit: cover;
    //     }
    // }


    // &__layout  {
    //     position: fixed;
    //     background-color: rgba($color: black, $alpha: .8);
    //     height: 100%;
    //     width: 30%;
    //     top: 3.5rem;
    //     color: white;
    //     overflow-y: scroll;

    //     &::-webkit-scrollbar {
    //         display: none;
    //       }

    //     &__title {
    //         text-transform: uppercase;
    //         font-weight: bold;
    //         text-align: center;
    //         font-size: 2.5rem;
    //         padding-top: 10rem;
    //     }

    //     &__content {
    //         font-size: 2.5rem;
    //         text-align: center;
    //         padding-top: 5rem;
    //         width: 95%;
    //         line-height: 1.4;
    //     }
    // }
}