.home-container { 

  &::-webkit-scrollbar {
    display: none;
  }

  height: 100%;
  overflow-y: hidden;


  &__slides {
    display: flex;
    cursor: pointer;

    img {
      height: 100vh;
      width: auto;
      object-fit: cover;
      display: block;
    }
  }

}