.cms {
    display: grid;

    &__navbar {
        grid-column: 1/-1;
    }
    
    &__options {
        
        &__autocomplete {
            display: flex;
            justify-content: center;
            padding-top: 2rem;
            padding-bottom: .5rem;
            width: 100%;
            position: relative;
            z-index: 999;
        }
    }

    &__section {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(30rem, 30rem));
        grid-column-gap: 4rem;
        padding: 6rem;
        position: relative;
        z-index: 1;
    }
}
