.cms {
    display: grid;

    // &__navbar {
    //     grid-column: 1/-1;
    // }
    
    &__section {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(20rem,auto));
        grid-column-gap: 4rem;
        padding: 6rem;
        // display: grid;
        // grid-column-gap: 4rem;
        // margin: 5vh 5vw;
        // grid-template-columns: repeat(auto-fit,minmax(20rem,auto));
    }
}

// .articles {
//     &-section {
//         display: grid;
//       grid-column-gap: 1.5vw;
//       grid-row-gap: 2rem;
//       margin: 5vh 5vw;
//       grid-template-columns: repeat(auto-fit,minmax(20rem,auto));
//     }
//       grid-column: full-start/full-end;          
//   }