.cms {
  display: grid;

  &__navbar {
  }


  &__autocomplete {
    grid-column: 1 / -1;
    width: 50%;
    justify-self: center;
    padding-top: 2rem;
  }
  

  &__section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 30rem));
    grid-row-gap: 5rem;
    grid-column-gap: 3rem;
    padding-top: 5rem;
    justify-content: center;
    position: relative;
    z-index: 1
  }


}
