.person {
    display: grid;
    box-shadow: 5px 6px 10px rgba(255, 255, 255, 0.6);
    border: 1px solid wheat;
    &__img {

        img {
            width: 100%;
            clip-path:polygon(0 0,100% 0, 100% 70%,50% 100%,0 70%);
            object-fit: cover;
        }
    }
    &__description {
        margin: 3vh 2vw;
    }
    &__title {
        border: 1px solid wheat;
        width: 80%;
        justify-self: center;
        //transform: translateY(-50%);
        padding: 1.5rem;
        background-color: wheat;
        text-align: center;
        color: black;
    }
    &__cta {
        padding: 1.5rem;
        background-color: wheat;
        cursor: pointer;
    }
}